SECRET_KEY=pothole_streaming_django_production_secret_key_2026
DEBUG=True
ALLOWED_HOSTS=*
DB_NAME=postgres
DB_USER=your_supabase_db_user
DB_PASSWORD=your_supabase_db_password
DB_HOST=aws-0-ap-south-1.pooler.supabase.com
DB_PORT=5432
